<div class="bgplayTitle">Info</div>
{{#node.id}}<div><b>Node ID:</b> {{node.id}}</div>{{/node.id}}
{{#node.attributes.as}}<div><b>AS:</b> {{node.attributes.as}}</div>{{/node.attributes.as}}
{{#node.attributes.owner}}<div><b>Owner:</b> {{node.attributes.owner}}</div>{{/node.attributes.owner}}
<!--{{#node.attributes.nodeUrl}}<div><b>Url:</b> <a href="http://bgp.potaroo.net{{node.attributes.nodeUrl}}">click</a></div>{{/node.attributes.nodeUrl}}-->
{{#node.attributes.country}}<div><b>Country:</b> {{node.attributes.country}}</div>{{/node.attributes.country}}

{{#path}}
{{#path.attributes.source}}<div><b>Source:</b> {{path.attributes.source}}</div>{{/path.attributes.source}}
{{#path.attributes.target}}<div><b>Target:</b> {{path.attributes.target}}</div>{{/path.attributes.target}}
{{#pathString}}<div><b>Current Path:</b> {{pathString}}</div>{{/pathString}}
{{#pathStatistics}}<div><b>Statistics:</b> {{pathStatistics}}</div>{{/pathStatistics}}
{{/path}}

{{^node}}
{{^path}}
{{#lastEvent.attributes.subType}}<div><b>Type:</b> {{lastEvent.attributes.type}} &gt; {{lastEvent.attributes.subType}}</div>{{/lastEvent.attributes.subType}}
{{#lastEvent.attributes.shortdescription}}<div><b>Short description:</b> {{lastEvent.attributes.shortdescription}}</div>{{/lastEvent.attributes.shortdescription}}
<!--{{#lastEvent.attributes.longdescription}}<div><b>Long description:</b> {{lastEvent.attributes.longdescription}}</div>{{/lastEvent.attributes.longdescription}}-->
{{#lastEvent.attributes.path}}<div><b>Path:</b> {{lastEvent.attributes.path}}</div>{{/lastEvent.attributes.path}}
{{#lastEvent.attributes.community}}<div><b>Community:</b> {{lastEvent.attributes.community}}</div>{{/lastEvent.attributes.community}}
{{#lastEvent.attributes.instant}}<div><b>Date e time:</b> {{lastEvent.attributes.instant.getDate}}</div>{{/lastEvent.attributes.instant}}
{{/path}}
{{/node}}
<!--<div class="more">more</div>-->