<div>
    <div class="bgplayLegendItem">
        <div class="bgplayLegendImage">
            <div style="background:{{nodeColourTarget}};width:10px;height:10px;border:1px solid #000000"></div>
        </div>
        <div class="bgplayLegendValue">
            Origin AS
        </div>
    </div>
    <div class="bgplayLegendItem">
        <div class="bgplayLegendImage">
            <div style="background:{{nodeColourSource}};width:10px;height:10px;border:1px solid #000000"></div>
        </div>
        <div class="bgplayLegendValue">
            Collector peer
        </div>
    </div>
    <div class="bgplayLegendItem">
        <div class="bgplayLegendImage">
            <div style="background:{{nodeColourNormal}};width:10px;height:10px;border:1px solid #000000"></div>
        </div>
        <div class="bgplayLegendValue">
            Other
        </div>
    </div>

    <div class="bgplayLegendItem">
        <div class="bgplayLegendImage">
            <div style="background:{{staticPathColour}};width:10px;height:10px;border:1px solid #000000"></div>
        </div>
        <div class="bgplayLegendValue">
        </div>
    </div>
    <div class="bgplayLegendItem">
        <div class="bgplayLegendImage">
            <div style="background:{{dynamicPathColour}};width:10px;height:10px;border:1px solid #000000"></div>
        </div>
        <div class="bgplayLegendValue">
        </div>
    </div>
</div>